{% extends "base.html" %}

{% block page_title %}Cadastros{% endblock %}

{% block content %}
<div class="row g-4">
    {% for slug, item in cadastros.items %}
        <div class="col-md-6 col-xl-4">
            <div class="card shadow-sm border-0 h-100">
                <div class="card-body">
                    <h3 class="h6">{{ item.title }}</h3>
                    <a class="btn btn-primary btn-sm" href="{% url 'cadastros:list' slug %}">Abrir</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
